<style>
  .custom-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>

<a href="/forum-post-screen">
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl lg:max-w-3xl xl:max-w-5xl custom-shadow">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="/assets/images/forumPostImg.jpg" alt="Modern building architecture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-darkGreen text-left font-semibold">Help a Beginner Sewer: Choosing Fabric and Pattern for a Summer Dress</div>
        <p class = "text-darkGreen text-left">Sarah_23</p>
        <p class="mt-2 text-lightGreen text-left">
          <br>Hello! I am a beginner  to sewing.<br>I am currently working on sewing a summer dress. But I have a few issues.
          I am not sure which fabric I should choose. I know that with some types of fabric it is rather 
          difficult to work, so I would love it if you suggested some which are easy to use for novice. 
          This fabric should aso be breathable and light.  Also, I would really appreciate it if you gave 
          me some ideas for the shape, or even better a pattern that is easy to follow.  I also want to 
          know if there are any particular colours that go well with summer dresses. 
          I still don't feel very sure in my sense of style, so any advice ...
        </p>
      </div>
    </div>
  </div>
</a>

  