<nav class="bg-dark_green fixed w-screen h-9.25 z-20 top-0 left-0 border-b border-white-200 dark:border-white-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <img routerLink="/homepage" src="assets/images/logo.png" class="h-26 sm:h-24 md:h-26" alt="T&N Logo" >
    <a href="homepage.html" class="ml-6 text-white text-lg leading-7 font-medium">HOMEPAGE</a>
    <a href="forum.html" class="ml-6 text-white text-lg leading-7 font-medium">FORUM</a>
    <a href="saved-posts.html" class="ml-6 text-white text-lg leading-7 font-medium">SAVED POSTS</a>
    <a href="about-us.html" class="ml-6 text-white text-lg leading-7 font-medium">ABOUT US</a>
    <div class="ml-6">
      <div class="relative inline-block">
        <svg class="w-5 h-5 text-white cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" class="hidden absolute top-0 right-0 bg-white-200 text-white-800 rounded px-4 py-2 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
    </div>
    <a href="my-profile.html" class="ml-6">
      <svg class="w-5 h-5 text-white cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M17 21v-2a4 4 0 00-4-4H7a4 4 0 00-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M23 21v-2a4 4 0 00-3-3.87"></path>
        <path d="M16 3.13a4 4 0 010 7.75"></path>
      </svg>
    </a>
  </div>
</nav>