.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shape {
    width: 33.25rem;
    height: 33.06rem;
    background-color: lightPink;
    border-radius: 0 30px 30px 0;
  }

  .image {
    width: 33.25rem;
    height: 33.06rem;
  }

  .input-container input::placeholder {
    color: lightPink;
  }