<form class="my-4 mx-4">
    <div class="w-full mb-4 border border-darkGreen rounded-lg bg-white dark:bg-white dark:border-darkGreen">
        <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-white dark:text-white">
            <label for="editor" class="sr-only">Add post</label>
            <textarea id="editor" rows="8" class="block w-full px-0 text-sm text-darkGreen bg-white border-0 dark:bg-white dark:text-white focus:ring-lightGreen dark:placeholder-lightGreen" placeholder="Title" required></textarea>
            <textarea id="editor" rows="8" class="block w-full px-0 text-sm text-darkGreen bg-white border-0 dark:bg-white dark:text-white focus:ring-lightGreen dark:placeholder-lightGreen" placeholder="Write a short text..." required></textarea>
            <textarea id="editor" rows="8" class="block w-full px-0 text-sm text-darkGreen bg-white border-0 dark:bg-white dark:text-white focus:ring-lightGreen dark:placeholder-lightGreen" placeholder="Write a post..." required></textarea>
        </div>
    </div>
    <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-lightYellow rounded-lg focus:ring-4 focus:ring-lightGreen dark:focus:ring-lightGreen hover:bg-darkGreen">
        Add post
    </button>
</form>
