<div class = "post">
    <h4 class = "title">Help a Beginner Sewer: Choosing Fabric and Pattern for a Summer Dress<br></h4>
    <p class = "description">Hello! I am a beginner  to sewing.<br>I am currently working on sewing a summer dress. But I have a few issues.
        I am not sure which fabric I should choose. I know that with some types of fabric it is rather difficult to work, so I would love it if you suggested some which are easy to use for novice. This fabric should aso be breathable and light.  Also, I would really appreciate it if you gave me some ideas for the shape, or even better a pattern that is easy to follow.  I also want to know if there are any particular colours that go well with summer dresses. I still don't feel very sure in my sense of style, so any advice ...</p>
    <span class = "blogImage">
        <img src="assets/images/forumImg.jpg" width = "290px" height = "215px">
    </span>
</div>

<div class = "post2">
    <h4 class = "title">Help a Beginner Sewer: Choosing Fabric and Pattern for a Summer Dress<br></h4>
    <p class = "description">Hello! I am a beginner  to sewing.<br>I am currently working on sewing a summer dress. But I have a few issues.
        I am not sure which fabric I should choose. I know that with some types of fabric it is rather difficult to work, so I would love it if you suggested some which are easy to use for novice. This fabric should aso be breathable and light.  Also, I would really appreciate it if you gave me some ideas for the shape, or even better a pattern that is easy to follow.  I also want to know if there are any particular colours that go well with summer dresses. I still don't feel very sure in my sense of style, so any advice ...</p>
    <span class = "blogImage">
        <img src="assets/images/forumImg.jpg" width = "290px" height = "215px">
    </span>
    
</div>

<div class = "post3">
    <h4 class = "title">Help a Beginner Sewer: Choosing Fabric and Pattern for a Summer Dress<br></h4>
    <p class = "description">Hello! I am a beginner  to sewing.<br>I am currently working on sewing a summer dress. But I have a few issues.
        I am not sure which fabric I should choose. I know that with some types of fabric it is rather difficult to work, so I would love it if you suggested some which are easy to use for novice. This fabric should aso be breathable and light.  Also, I would really appreciate it if you gave me some ideas for the shape, or even better a pattern that is easy to follow.  I also want to know if there are any particular colours that go well with summer dresses. I still don't feel very sure in my sense of style, so any advice ...</p>
    <span class = "blogImage">
        <img src="assets/images/forumImg.jpg" width = "290px" height = "215px">
    </span>

</div>


