<style>
  .custom-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>

<a href="/blog-post-screen">
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl lg:max-w-3xl xl:max-w-5xl custom-shadow">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="/assets/images/blogPostImg.jpg" alt="Modern building architecture">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-darkGreen text-left font-semibold">How to cinch in a Big Dress</div>
        <p class = "text-darkGreen text-left">By Erna</p>
        <p class="mt-2 text-lightGreen text-left">
          For this tutorial you will need thread, needle, scissors, and a measuring tape. 
          Quick and simple tutorial for beginners. This is a beginner-friendly tutorial, 
          and really easy to follow. Don’t worry, even if you have no experience with sewing, 
          I guarantee you will be able to follow this tutorial completely!
        </p>
      </div>
    </div>
  </div>
</a>